@import url(https://fonts.googleapis.com/css?family=Varela+Round
@import url(http://fonts.googleepais.com/earlyaccess/nanumgothic.css);

* {padding: 0; margin: 0;}

html, body {font-family: 'Black Han Sans', sans-serif;}

header {background: white;}

.navbar-expand-lg {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px; padding-bottom: 20px;
}

.navbar-expand-lg .navbar-brand {
  font-size: 30px;
  color: black;
}

.navbar-expand-lg .navbar-brand:hover,
.navbar-expand-lg .navbar-brand:focus{color: black;}

.dropdown-toggle:hover {cursor: pointer;}

nav h1 {
  margin: 0 auto;
  width: 1200px;
  font-size: 30px;
  color: black;
}
.slides {
  padding: 0;
  width: 1200px;
  height: 600px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides input {display: none;}
.slide-container {display: block;}
.slide {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;

  transform: scale(0);
  transition: all 0.7s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide .content {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:65px;
  font-size: 30px;
  color:white;
}
.slide .createname {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:30px;
  font-size: 20px;
  color:white;
}
.nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #FFF;
  font-size: 90pt;
  text-align: center;
  line-height: 500px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.slide:hover + .nav label{opacity: 0.5;}
.nav label:hover {opacity: 1;}
.nav .next{right: 0;}
input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 2s ease-in-out;
}
input:checked + .slide-container .nav label {display: block;}
.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: yellow;
}
input#img-1:checked ~ .nav-dots label#dot-1,
input#img-2:checked ~ .nav-dots label#dot-2,
input#img-3:checked ~ .nav-dots label#dot-3,
input#img-4:checked ~ .nav-dots label#dot-4,
input#img-5:checked ~ .nav-dots label#dot-5,
input#img-6:checked ~ .nav-dots label#dot-6 {
    background-color: yellow;
}

.create h1 {
  margin: 0 auto;
  width: 1200px;
  font-size: 30px;
  color: black;
}

.create form {
  margin: 0 auto;
  width: 1200px;
  text-align: right;
}

.create .create-pick {
  list-style: none;
  margin: 0 auto;
  width: 1200px;
}
.create-pick li {
  margin: 15px 15px;
  display: inline-block;
}
.create-pick #first-pick {
  margin-left: 5px;
}
.create-pick span {
  color: black;
  cursor: pointer;
}
.create-pick span:hover{
  text-decoration: underline;
}
.create .creators {
  width: 1200px;
  height: 780px;
  margin: 0 auto;
  position: relative;
}
#all, #game, #kids, #food, #entertainment {
  position: absolute;
  top: 0;
  left: 0;
}
 #game, #kids, #food, #entertainment {
   display: none;
 }
.creator {
  float: left;
  color: black;
  line-height: 30px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}

.creator-char .create-img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.creator .creator-name,
.creator .creator-field,
.creator .creator-subscribe,
.creator .creator-profile {
  height: 30px;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.creator-profile a {
  color: black;
  text-decoration: none;
}

#plus-page {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.search {margin: 3% 5%;}
.search h1 {
  font-size: 30px;
  color: black;
}
.search-wrap .search-inner {
  padding: 35px;
  border-bottom: 1px solid black;
}
.search-inner #create-name {
    display: inline-block;
    width: 350px;
    height: 43px;
    font-size: 15px;
    font-weight: 700;
}
.search-inner .search-button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #5bafe6;
    border: 1px solid #529ecf;
    border-radius: 2px;
}
.search .search-creators-wrap {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}
.search-creator-char {
    position: relative;
    color: black;
}
.search-creator-char .search-creator-img{
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
}
.search-creator-img img {
  width: 100%;
  border-radius: 100%;
}
.search-creator-char .search-creator-desc{
  padding: 10px;
  height: 100px;
}
.search-creator-desc .title {
  text-align: center;
  font-size: 25px;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-creator-desc .count {
  text-align: center;
  font-size: 20px;
}

footer {
  background-color: black;
  color: white;
  font-family: 'Nanum Gothic';
  font-weight: 700;
}

#foot h1,
#foot h2,
#foot h3,
#foot h4,
#foot h5 {font-weight: 700;}

.container #r1 {
  padding-top: 30px; padding-bottom: 30px;
  text-align: center;
}
.sns-img img{
  width: 40px;
  height: 40px;
}

#r2 a {
  text-decoration: none;
  color: white;
}


.menu {
  width: 80%;
  margin: 0 auto;
}

.nav-pills a {
  color: black;
  background: white;
}

.jbFixed {
  position: fixed;
  top: 0px;
  width: 80%;
  margin: 0 auto;
  z-index: 99;
}

#c1 .row .media,
#c2 .row .media {padding: 20px;}


#c2 h3,
#c2 h4,
#c3 h3,
#c3 h4 {display: inline;}

#c2 span {float: right;}

.media .curriculum {
  text-decoration: none;
  color: black;
  display: flex;
  width: 100%;
}

#c3 .row img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#c3 .row .media {
  padding: 20px;
  padding-left: 55px;
}

#top-button {
  position: relative;
  float: right;
  font-size: 25px;
  bottom: 55px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 0;
  background: black;
  color: white;
  font-weight: 600;
}

#payment .card-body a,
#m-payment .card-body a{
  text-decoration: none;
  color: white;
  text-align: center;
  border: 0;
}

.card-body #button,
.card-body #m-button{
  width: 250px;
  padding: 15px 0;
  margin: 15px 0;
  background: red;
  font-size: 20px;
}

#m-payment {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.card-body #m-button {
  float: right;
  margin: 10px;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 2rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-github {
  color: white;
  background-color: #81c147;
}

.btn-instagram {
  color: white;
  background-color: #8b00ff;
}

.btn-youtube {
  color: white;
  background-color: #ea4335;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

@media (min-width: 1880px) {
  .nav-link .sns {display: none;}
}

@media (min-width: 1880px) and (max-width: 1910px) {
  #plus-image {height: 800px;}
  #last-img {margin-right: 0;}
}

@media (max-width: 1880px) {
  .create .creators {height: 690px;}
  .creator {
    width: 25%;
    margin-right: 0;
    margin-left: 0;
  }
  .creator-char .create-img {
    width: 80%;
    height: 200px;
  }
}

@media (min-width: 990px) and (max-width: 1880px){.nav-link .sns {display: none;}}
@media (min-width: 1400px) and (max-width: 1880px){
  .menu {width: 50%;}
  .jbFixed {width: 50%;}
}

@media (max-width: 1200px) {
  .slides {
    width: 700px;
    height: 490px;
  }
  .nav label {
    width: 100px;
    font-size: 100pt;
    line-height: 450px;
  }
  .creator-char .create-img {height: 130px;}
  .create .creators {height: 550px;}
}

@media (max-width: 990px) {
  .nav-item-divider span {display: none;}
  .nav-link i {display: none;}
  .nav-link span {display: block; color: black;}
}

@media (max-width: 747px) {
  .slides {
    width: 400px;
    height: 280px;
  }
  .nav label {
    width: 80px;
    font-size: 60pt;
    line-height: 300px;
  }
  .creator-char .create-img {height: 100px;}
  .create .creators {height: 490px;}
  .create h1, .search h1 {font-size: 25px;}
  .search-inner #create-name {width: 250px;}
}
