@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {padding: 0; margin: 0;}

html, body {background: #333;}

.top-nav {
  list-style: none;
  overflow: hidden;
  margin: 20px 50px;
}

.top-nav li {float: right;}

.top-nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 5px 10px;
  display: block;
  font-family: "Varela Round", sans-serif;
}

.top-nav a:hover {
  color: gold;
}

.slides {
  padding: 0;
  width: 1000px;
  height: 700px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.slides input {
  display: none;
}
.slide-container {
  display: block;
}
.slide {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;

  transform: scale(0);
  transition: all 0.7s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
}
.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 600px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.slide:hover + .nav label{
  opacity: 0.5;
}
.nav label:hover {
  opacity: 1;
}
.nav .next{
  right: 0;
}
input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 2s ease-in-out;
}
input:checked + .slide-container .nav label {
  display: block;
}
.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: yellow;
}
input#img-1:checked ~ .nav-dots label#dot-1,
input#img-2:checked ~ .nav-dots label#dot-2,
input#img-3:checked ~ .nav-dots label#dot-3,
input#img-4:checked ~ .nav-dots label#dot-4,
input#img-5:checked ~ .nav-dots label#dot-5,
input#img-6:checked ~ .nav-dots label#dot-6 {
    background: yellow;
}
.create {margin: 3% 5%;}
.create h1 {
  font-size: 30px;
  color: white;
}
.create .create-pick {list-style: none;}
.create-pick li {
  margin: 15px 20px;
  display: inline-block;
}
.create-pick #first-pick {
  margin-left: 5px;
}
.create-pick span {
  color: white;
  cursor: pointer;
}
.create-pick span:hover {
  text-decoration: underline;
}
.create .creators {
  width: 80%;
  height: 770px;
  margin: 0 auto;
  position: relative;
}
#all, #game, #kids, #food, #entertainment {
  position: absolute;
  top: 0;
  left: 0;
}
 #game, #kids, #food, #entertainment {
   display: none;
 }
.creator {
  float: left;
  color: white;
  line-height: 30px;
  margin-right: 110px;
  margin-top: 30px;
  text-align: center;
}
#last-img {margin-right: 0;}
.creator-char .create-img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
#plus-page {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.search {margin: 3% 5%;}
.search h1 {
  font-size: 30px;
  color: white;
}
.search-wrap .search-inner {
  padding: 35px;
  border-bottom: 1px solid white;
}
.search-inner #create-name {
    display: inline-block;
    width: 350px;
    height: 43px;
    font-size: 15px;
    font-weight: 700;
}
.search-inner .search-button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #5bafe6;
    border: 1px solid #529ecf;
    border-radius: 2px;
}
.search .search-creators-wrap {
  width: 70%;
  margin: 0 auto;
}
.search-creators {margin-top: 50px;}
.search-creator {
  width: 20%;
  height: 25%;
  list-style: none;
  float: left;
  margin-right: 77px;
}
.search-creator-char {
    position: relative;
    border: 1px solid #e0e0e4;
    color: white;
    box-sizing: border-box;
}
.search-creator-char .search-creator-img{
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
}
.search-creator-img img {
  width: 100%;
  border-radius: 100%;
}
.search-creator-char .search-creator-desc{
  padding: 10px;
  height: 66px;
}
.search-creator-desc .title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-creator-desc .count {text-align: center;}
.foot {
  width: 1903px;
  background-color: black;
  color: white;
  margin-top: 500px;
}
.foot .container {
  width: 1100px;
  margin: 0 auto;
}
.container .row1 {
  padding-top: 30px; padding-bottom: 30px;
  text-align: center;
}
.time, .sns, .copyright {
  display: inline-block;
  padding-right: 25px; padding-left: 25px;
  font-size: 20px;
}
.sns-img img{
  width: 40px;
  height: 40px;
}
.row2 .introduce {padding-top: 30px; padding-bottom: 30px;}
.maker h1 {
  text-align: center;
  letter-spacing:20px;
  float: right;
}
@media (min-width: 1880px) {
  #plus-image {height: 800px;}
}
@media (max-width: 1880px) {
  .create .creators {height: 660px;}
  .creator {
    width: 25%;
    margin-right: 0;
  }
  .creator-char .create-img {
    width: 80%;
    height: 200px;
  }
  .search-creator {margin-right: 48px;}
}
@media (max-width: 1200px) {
  .slides {
    width: 700px;
    height: 490px;
  }
  .nav label {
    width: 100px;
    font-size: 100pt;
    line-height: 450px;
  }
  .creator-char .create-img {height: 130px;}
  .create .creators {height: 520px;}
  .search-creator {margin-right: 30px;}
  .search-creator-desc .title, .search-creator-desc .count {font-size: 14px;}
}
@media (max-width: 747px) {
  .slides {
    width: 400px;
    height: 280px;
  }
  .nav label {
    width: 80px;
    font-size: 60pt;
    line-height: 300px;
  }
  .creator-char .create-img {height: 100px;}
  .create .creators {height: 460px;}
  .top-nav a {font-size: 18px;}
  .create h1, .search h1 {font-size: 25px;}
  .search-inner #create-name {width: 250px;}
  .search-creator {margin-right: 20px;}
  .search-creator-desc .title, .search-creator-desc .count {font-size: 12px;}
}
